<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../iconFont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/xiezuozonghetongji.css"/>
		<script src="../../js/Rem.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="box">
			<div class="head"><a href="javascript:history.back(-1);" class="back pull-left iconfont icon-zuojiantou"></a><span class="pull-left">公安云搜</span></div>
		    <div style="font-size: 0.2rem;margin: 1rem auto; width: 82%; text-align: center;color: #4169E1;font-weight: bold;">公安云搜平台(第三方链接)</div>
		</div>
	</body>
</html>
<script src="../../js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/layer2.1/layer.js"></script>

<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	window.onload=function(){
		//rem布局
		document.documentElement.style.fontSize = innerWidth/3.2 +"px";
	    window.addEventListener("resize",function(){
	        document.documentElement.style.fontSize = innerWidth/3.2  + "px";
	    },false)
	}	
</script>

