<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../iconFont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/faxiezuo.css"/>
		<script src="../../js/Rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery.form.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/layer2.1/layer.js"></script>
    	
		<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="box">
			<div class="head"><a id="head" href="javascript:history.back(-1);" class="back pull-left iconfont icon-zuojiantou"></a><span class="pull-left">发情报小节</span></div>
			<form id="form" enctype="multipart/form-data">
				<input type="hidden" name="cooperationId" id="cooperationId"/><!-- 协作id -->
			    <input type="hidden" name="userId" id="userId"/><!-- 反馈协作方id -->
				<div class="form">
					<div class="unit">
						<label class="text" for="number">协作编号</label>
						<input type="text" name="number" id="number" value="" readonly="true" />
					</div>
					<div class="unit">
						<label class="text" for="title">标题</label>
						<input type="text" name="title" id="title" value="" />
					</div>
					<div class="unit">
						<label class="text" for="title">上报类型</label>
						<input type="text" class="form-control" name="messType" id="messType" value="典型案例" readonly="true" disabled="true" />
		    			<input type = "hidden" id="messageType" name="messageType" value="5"><!-- 上报的消息内容 -->
					</div>
					<div class="unit">
						<label class="text" for="company">单位</label>
						<input type="text" name="company" disabled="disabled" id="company" value="" />
					</div>
					<div class="unit">
						<label class="text" for="uploadUser">上传人</label>
						<input type="text" name="uploadUser" disabled="disabled" id="uploadUser" />
					</div>
				</div>
				<div class="xiezuo-content">
					<h1 class="border-none">协作内容</h1>
					<textarea id="content" name="content" rows="" cols="" placeholder="请输入500字以内,如果超过500字请以附件的形式上传,并在此注明" ></textarea>
				</div>
				<div class="form">
				<div class="unit">
					<label class="text" for="arrested">抓获逃犯(名)</label>
					<input type="text" name="arrested" id="arrested" value="" />
				</div>
				<div class="unit">
					<label class="text" for="arrestedsuspects">抓获嫌疑人(名)</label>
					<input type="text" name="arrestedsuspects" id="arrestedsuspects" value="" />
				</div>
				<div class="unit">
					<label class="text" for="cracked">破获案件(起)</label>
					<input type="text" name="cracked" id="cracked" value="" />
				</div>
				<div class="unit">
					<label class="text" for="interestvisit">息访宁事(次)</label>
					<input type="text" name="interestvisit" id="interestvisit" value="" />
				</div>
				<div class="unit">
					<label class="text" for="prevention">预防重大案件(起)</label>
					<input type="text" name="prevention" id="prevention" value="" />
				</div>
				</div>
				<div class="search-people">
					<h1>上传附件</h1>
					<!--<div align="left" class="a-upload fujian"><input class="files" type="file" name="files" id="queryObjFilePath"/><span class="fileContent" >点击这里上传文件</span><span id="fileName" class="fileName"></span></div>-->
					<div>
					     <input type="hidden" id="queryObjFilePath" name="queryObjFilePath" multiple="multiple"/>
		     			<input type="button" value='添加附件' class="form-control" id="filename"/>
				     </div>
				     <div>
				    	<table class="downCommon" style="width: 100%;border-collapse: collapse;border: 1px solid #CBCBCB;text-align:center;" border="1" >
				    		<tr style="display: none;" id="files"></tr>
					    </table>
				    </div>
				</div>
			</form>
			<div class="btnbox">
				<input id="send" class="btn btn-width2" type="button" value="发送" />
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(function(){
		//回显编号
			var request=new UrlSearch();
			var number=request.number;
			$("#number").val(number);
		//回显信息
		if (localStorage.getItem("user")) {
			var userInfo=JSON.parse(localStorage.getItem("user"));
			var deptName=userInfo.deptName;
			var name=userInfo.name;
			$("#company").val(deptName);
			$("#uploadUser").val(name);
		}
		
		$("#send").click(function(){
			addFiles();
			//获取反馈协作方的id
			var userInfo=JSON.parse(localStorage.getItem("user"));
		 	var userid=userInfo.id;//发起人id
		 	$("#userId").val(userid);
			//获取协作id
			var request=new UrlSearch();
			var id=request.id;
			$("#cooperationId").val(id);//将协作id设置到隐藏域中
			//校验
			//标题校验
	   		var title=$("#title").val();
		   if(typeof(title) == "undefined"||jQuery.trim(title) == ''){
			   diaLog('请填写标题');
			   return false;
		   }
		   //单位
	   		var company=$("#company").val();
		   if(typeof(company) == "undefined"||jQuery.trim(company) == ''){
			   diaLog('请填写单位');
			   return false;
		   }
		   //上传人
	   		var uploadUser=$("#uploadUser").val();
		   if(typeof(uploadUser) == "undefined"||jQuery.trim(uploadUser) == ''){
			   diaLog('请填写上传人');
			   return false;
		   }
		   //协作内容
	   		var content=$("#content").val();
		   if(typeof(content) == "undefined"||jQuery.trim(content) == ''){
			   diaLog('请填写协作内容');
			   return false;
		   }
		   //战果反馈 
		   var arrested =$("#arrested").val();  
		   var arrestedsuspects=$("#arrestedsuspects").val();  
		   var cracked =$("#cracked").val();  
		   var interestvisit=$("#interestvisit").val();  
		   var prevention=$("#prevention").val();
		   if(jQuery.trim(arrested) == ''&&jQuery.trim(arrestedsuspects) == ''&&jQuery.trim(cracked) == ''
				&&jQuery.trim(interestvisit) == '' &&jQuery.trim(prevention) == ''){
			   diaLog('请填写至少一项战果反馈！');
			   return false;
		   }
			//校验结束
			$("#send").attr("disabled",true);
				var form = $("#form");  
				var options  = {    
					url:ctx+'/gongan/app/examination/doExamination.do',   
					type:'post', 
					dataType:'json',
					success: function (data) {
						$("#send").removeAttr("disabled");
			           if(data.status==0){
			           	diaLog("捕获异常");
			           }else if(data.status==1){
			           	window.history.go(-1);
			           }else if(data.status==2){
			           	diaLog("情报小节已存在");
			           }else if(data.status==3){
			           	diaLog("该协作并未处于可以发起情报小结的状态");
			           }
				    },
					error:function(){
						$("#send").removeAttr("disabled");
						diaLog("请求失败");
					}
				};    
				form.ajaxSubmit(options);
		})
	})
	
	//上传文件弹出框
	$("#filename").focus(function(){
        layer.open({
            type: 2,
            title: false,
            closeBtn: 0, //不显示关闭按钮
           	area: ['100%', '100%'],
            offset: 'auto', //右下角弹出
            content: ['../upload.html', 'no'] //iframe的url，no代表不显示滚动条
        });	
		
		
	});
	//删除附件
		function delFiles(obj){
			$(obj).parent().parent().remove();
		}
		//提交时，保存最后修改后的附件
		function addFiles(){
			var length=$(".urls-name").length;
			var pathHtml='';
			for(var i=0;i<length;i++){
				pathHtml+=$(".urls-name").eq(i).val()+";";
			}
			$("#queryObjFilePath").val(pathHtml);
		}
	   	//文件下载和图片下载
	function downloadfile(path) {
		var fileUrl=ctx+"/gongan/ServletDownload?"+path;
//          var fileUrl = server.pub.OaDownFile + businessid+"/"+name;
        var encodeUrl=encodeURI(fileUrl);//文件的具体地址，具体到文件名称
        console.log(encodeUrl);
        console.log(fileUrl);
       
        console.log("下载文件地址"+encodeURI(encodeUrl));
        var dtask = plus.downloader.createDownload(encodeUrl, { method: "GET" });//新建下载任务
        var w = plus.nativeUI.showWaiting("开始下载...");
        dtask.addEventListener("statechanged", function (task, status) {
        	console.log(task.state)
            switch (task.state) {
                case 3:	// 已接收到数据
                    if (w) {
                        w.setTitle("数据下载中：" + task.downloadedSize + "/" + task.totalSize);
                    }
                    break;
                case 4:	// 下载完成
                    if (status == 200) {
                        if (w) {
                            w.close();
                        }
					var reg=/^.*(.jpg|.png|.gif|.ps|.jpeg|.webp)$/i;
                       if(reg.test(task.filename)){
                       		plus.gallery.save(task.filename, function() {
						    mui.confirm("打开相册", "打开相册？", ["打开", "不看"], function(event) {
						        var gindex = event.index;
						        console.log(gindex)
						        if(gindex == 0) {
						            plus.gallery.pick(function(file) {
						                mui.toast("你选择了图片：" + file);
						            }, function(error) {
						                console.log(error);
						            }, {
						                filter: 'image'
						            });
						        }
						    });
						});
                       }else{
                       	plus.runtime.openFile(task.filename, {}, function (e) {
                            QxMobile.Alert("无法打开此文件：" + e.emssage);
                        });
                       }
                      
                    } else {
                        Alert("下载失败：" + status);
                        plus.nativeUI.closeWaiting();
                    }
                    break;
            }
        });
        dtask.start();
    }
</script>