<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>我的协作列表</title>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../iconFont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/xiezuozonghetongji.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/pager.css"/>
		<script src="../../js/Rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/layer2.1/layer.js"></script>
		
		<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/pager.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="box">
			<div class="head"><a id="head" href="javascript:history.back(-1);" class="back pull-left iconfont icon-zuojiantou"></a><span class="pull-left">待申诉</span></div>
		    <h1 style="font-size: 0.16rem; padding: 0.15rem 0px;text-indent: 0.1rem; ">申诉列表</h1>
		    <div class="scroll">
		    	<table class="zonghetongji" border="1" style="border-collapse: collapse;">
			    	<thead>
			    		<tr bgcolor='#F5F5F5' style='height: 0.4rem;' ><td>操作</td><td>协作类型</td><td>请求状态</td><td>标题</td><td>请求单位</td><td>请求人</td><td>协作单位</td><td style='width: 20%;'>发起时间</td></tr>
			    	</thead>
			    	<tbody id="myTab">
			    		
			    	</tbody>
		    	</table>
			    <div id="loading" style="text-align: center;">
			    	
			    </div>
			     <div id="pager">
		    	
		    	</div>
		    </div>
		   
		</div>
		<script type="text/javascript">
		$(function(){
			//从localStorage中取出用户信息
			var userInfo=JSON.parse(localStorage.getItem("user"));
			var userId=userInfo.id;
			//获取用户状态
			var status=userInfo.status;
			//公共分页方法
			function commonPager(data,url,callBack){
				var pagerBox = document.getElementById('pager');//下标所在的div
				    $.ajax({
				      	  type: 'POST',
				      	  url: url,
				      	  data: data,
				      	  dataType:"json",
				      	  async:false,
				      	  success: function(data){
			 	      		var pager = new Pager({
			 	                index: data.page.pageNum,//当前页号
			 	                total: data.page.totalPages,//总共有多少页
			 	                parent: pagerBox,
			 	                onchange: doChangePage
			 	            });
				      	  },
				      	  error:function(){
				      		  diaLog("error");
				      	  }
				  	 });
			}
	
			
			
			var url=ctx+"/gongan/app/cooperation/doAppraisalPageList.do";
	    	//1、页面一加载，查询数据库加载分页列表
	        var data={"pageNo":1,"pageSize":10,"status":status,"userId":userId};
		    commonPager(data,url,doChangePage);
	    	//2、单击下面某一页的时候执行的查询
	        function doChangePage(obj){
	        	 var tabHtml="";
	            $.ajax({
	  	      	  type: 'POST',
	  	      	  url: url,
	  	      	  data: {"pageNo":obj.index,"status":status,"userId":userId},
	  	      	  dataType:"json",
	  	      	  async:true,
	  	      	  success: function(data){
	  	      	  	console.log(data)
	  	      		var list=data.list;
	  	      		var htmlResult="";
	  	      		for(var i=0;i<list.length;i++){
	  	      			var d=	new Date();
	  	      			var item=list[i];
//	  	      			var cooperationType=item.cooperationType;//协作类型
//	  	      			var status=item.status;//请求状态
//	  	      			var title=item.title;//标题
//	  	      			var departmentId=item.departmentId;//请求单位id
//	  	      			var promoterUserId=item.promoterUserId;//发起人id
//	  	      			var cooperationDeptId=item.cooperationDeptId;//协作单位id
	  	      			var startTime='';//协作发起时间
	  	      			var id=item.cooperationId;//协作id
	  	      			//格式化协作发起时间
	  	      			if (typeof(item.createDate) != "undefined"){
	  	      				d.setTime(item.createDate);
	  	      				startTime=d.format('yyyy-MM-dd HH:mm:ss');
	  	      			}
	  	      				tabHtml+="<tr style='height: 0.35rem;'>"
				    			+"<td><a href='javascript:;' onclick='toTail(\""+id+"\")'>申诉</a><td>"+1+"</td><td>"+1+"</td><td>"+1+"</td><td>"+1+"</td><td>"+1+"</td><td>"+1+"</td><td>"+startTime+"</td>"
				    			+"</tr>";
	  	      		}
	  	      		$("#myTab").html("");
	  	      		$("#myTab").html(tabHtml);
	  	      		
	  	      		
	  	      	  },
	  	      	  beforeSend:function(){
		      	  	$("#myTab").html("<img style='margin-left:1.5rem;' src='../../img/load.gif'></img>");
		      	  },
		      	  complete:function(){
			      	$("#loading").html("");
			      },

	  	      	  error:function(){
	  	      		  diaLog("error");
	  	      	  }
	        	 });
	        }
		});
		
		
		//查看协作详情
		function toTail(id){
			//发起申诉
			window.location.href="shensuContent.html?id="+id;
			/* $.ajax({
		        type: 'post',
		        async: true,//默认是异步
		        url: ctx+'/gongan/app/cooperation/doAppeal.do?cooperationId='+id,
		        dataType: 'json',
		        success: function (data) {
		           if(data.status==0){
		           	diaLog("此状态不能申诉");
		           }else if(data.status==1){
		           	diaLog("申诉成功");
		           }
		        },
		        error: function (data) {
		            diaLog("error");
		        }
			}); */
		}
	</script>
	</body>
</html>

