<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>待反馈协作</title>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../iconFont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/faxiezuo.css"/>
		<script src="../../js/Rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/layer2.1/layer.js"></script>
		
		<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				//从localStorage中取出用户信息
				var userInfo=JSON.parse(localStorage.getItem("user"));
				var userId=userInfo.id;
				//获取传过来的参数
				var request=new UrlSearch();//参数对象
				var objData={};
				$("#send").click(function(){
					//校验意见
					var opinion=$("#opinion").val();
					if(opinion==-1){
						diaLog("请选择是否同意");
						return false;
					};
					//校验原因
				   var content=$("#content").val();
				   if (typeof(content) == "undefined"||$.trim(content) == ''){
					   diaLog("请填写原因");
					   return false;
				   };
				   objData.isStatus=opinion;
				   objData.content=content;
				   objData.userId=userId;
				   objData.cooperationId=request.cooperationId;
				   objData.cooperationId=request.examinationcooperationId;
				   objData.examinationcontent=request.examinationcontent;
				   objData.examinationcreateTime=request.examinationcreateTime;
				   objData.examinationdepartmentId=request.examinationdepartmentId;
				   objData.examinationid=request.examinationid;
				   objData.examinationupdateTime=request.examinationupdateTime;
				   objData.examinationstatus=request.examinationstatus;
				   objData.examinationuserId=request.examinationuserId;
				   objData.examinationwhether=request.examinationwhether;
				   objData.examinationcontent=request.examinationcontent;
				   $.ajax({
				   	type:"post",
				   	url:ctx+"/gongan/app/examination/doExcuteExamination.do",
				   	async:true,
				   	data:objData,
				   	datatype:'json',
				   	success:function(data){
				   		if(data.status==1){
				   			window.location.href="daishenpi.html";
				   		}else{
				   			diaLog("请求失败");
				   		}
				   	},
				   	error:function(){
				   		diaLog("评审失败");
				   	}
				   });
				})
			});
		</script>
	</head>
	<body>
		<div class="box">
			<div class="head"><a id="head" href="javascript:history.back(-1);" class="back pull-left iconfont icon-zuojiantou"></a><span class="pull-left">处理申诉</span></div>
			<div class="form" style="border: none;"  >
				<div style="margin: 0.1rem;">
					<span>是否同意:</span>
					<select id="opinion">
						<option value="-1">请选择</option>
						<option value="2">同意</option>
						<option value="3">不同意</option>
					</select>
				</div>
				<div class="xiezuo-content" style="margin-top: 0.1rem;">
					<h1>原因</h1>
					<textarea id="content" name="content" rows="" cols="" placeholder="请输入500字以内,如果超过500字请以附件的形式上传,并在此注明" ></textarea>
				</div>
			</div>
			<div class="btnbox">
				<input id="send" class="btn btn-width2" type="button" value="发送" />
			</div>
		</div>
	</body>
</html>
