<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>待反馈协作</title>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../iconFont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/xiezuozonghetongji.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/pager.css"/>
		<script src="../../js/Rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/layer2.1/layer.js"></script>
		
		<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/pager.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			window.onload=function(){
				//rem布局
				document.documentElement.style.fontSize = innerWidth/3.2 +"px";
			    window.addEventListener("resize",function(){
			        document.documentElement.style.fontSize = innerWidth/3.2  + "px";
			    },false)
			}	

			$(function(){
				//从localStorage中取出用户信息
				var userInfo=JSON.parse(localStorage.getItem("user"));
				var userId=userInfo.id;
				//公共分页方法
				function commonPager(data,url,callBack){
					var pagerBox = document.getElementById('pager');//下标所在的div
					    $.ajax({
					      	  type: 'POST',
					      	  url: url,
					      	  data: data,
					      	  dataType:"json",
					      	  async:false,
					      	  success: function(data){
				 	      		var pager = new Pager({
				 	                index: data.page.pageNum,//当前页号
				 	                total: data.page.totalPages,//总共有多少页
				 	                parent: pagerBox,
				 	                onchange: doChangePage
				 	            });
					      	  },
					      	  error:function(){
					      		  diaLog("error");
					      	  }
					  	 });
				}
		
				
				
				var url=ctx+"/gongan/app/cooperation/PageRadioListCooperation.do";
		    	//1、页面一加载，查询数据库加载分页列表
		    	var userInfo=JSON.parse(localStorage.getItem("user"));
				var userId=userInfo.id;
		        var data={"pageNo":1,"status":3,"signatoryUserId":userId};//状态是待反馈，签收人是当前用户的
			    commonPager(data,url,doChangePage);
		    	//2、单击下面某一页的时候执行的查询
		        function doChangePage(obj){
		        	 var tabHtml="";
		            $.ajax({
		  	      	  type: 'POST',
		  	      	  url: url,
		  	      	  data: {"pageNo":obj.index,"status":3,"signatoryUserId":userId},//状态是待反馈，签收人是当前用户的
		  	      	  dataType:"json",
		  	      	  async:true,
		  	      	  success: function(data){
			  	      		for(var i=0;i<data.list.length;i++){
			  	      			var d=	new Date();
			  	      			var item=data.list[i];
			  	      			var status=item.status;//状态
			  	      			var title=item.title;//标题
			  	      			var departmentIdName=item.departmentIdName;//请求单位id
			  	      			var promoterUserIdName=item.promoterUserIdName;//发起人id
			  	      			var rewIntegral=item.rewIntegral;//悬赏积分
			  	      			var timeLimit=item.timeLimit;//反馈时限
			  	      			var sparetime=item.sparetime;//反馈剩余时间
			  	      			var startTime='';//协作发起时间
			  	      			var approvalTime='';//审批时间
			  	      			var id=item.id;//协作id
			  	      			status=judgeStatus(status);
			  	      			//格式化协作发起时间
			  	      			if (typeof(item.startTime) != "undefined"){
			  	      				d.setTime(item.startTime);
			  	      				startTime=d.format('yyyy-MM-dd HH:mm:ss');
			  	      			}
			  	      			//格式化协作发起时间
			  	      			if (typeof(item.approvalTime) != "undefined"){
			  	      				d.setTime(item.approvalTime);
			  	      				approvalTime=d.format('yyyy-MM-dd HH:mm:ss');
			  	      			}
				  	      		tabHtml+="<tr style='height: 0.35rem;'>"
						    			+"<td><a href='javascript:;' onclick='toTail(\""+id+"\")'>详情</a></td><td>"+status+"</td><td>"+title+"</td><td>"+departmentIdName+"</td><td>"+promoterUserIdName+"</td><td>"+startTime+"</td><td>"+approvalTime+"</td><td>"+rewIntegral+"</td><td>"+timeLimit+"</td><td>"+sparetime+"</td>"
						    			+"</tr>";
			  	      		}
			  	      		$("#myTab").html("");
			  	      		$("#myTab").html(tabHtml);
		  	      	  	
		  	      	  },
		  	      	  beforeSend:function(){
			      	  	$("#myTab").html("<img style='margin-left:1.5rem;' src='../../img/load.gif'></img>");
			      	  },
			      	  complete:function(){
				      	$("#loading").html("");
				      },
		  	      	  error:function(){
		  	      		  diaLog("error");
		  	      	  }
		        	 });
		        }
			});
			//查看详情
			 function toTail(id){
	        	diaLog("查看详情");
//	        	window.location.href="daifankuixiangqing.html?id="+id;
	        };
	       
		</script>
	</head>
	<body>
		<div class="box">
			<div class="head"><a id="head" href="javascript:history.back(-1);" class="back pull-left iconfont icon-zuojiantou"></a><span class="pull-left">协作广播</span></div>
		    <h1 style="font-size: 0.16rem; padding: 0.15rem 0px;text-indent: 0.1rem; ">协作广播</h1>
		    <div class="scroll">
		    	<table class="zonghetongji" border="1" style="border-collapse: collapse;">
			    	<thead>
			    		<tr bgcolor='#F5F5F5' style='height: 0.4rem;' ><th>操作</th><th>广播状态</th><th>标题</th><th>请求单位</th><th>请求人</th><th style='width: 20%;'>发起时间</th><th>审批时间</th><th>悬赏积分</th><th>反馈时限</th><th>反馈剩余时间</th></tr>
			    	</thead>
			    	<tbody id="myTab">
			    		
			    	</tbody>
			    </table>
			    <div id="loading" style="text-align: center;">
			    	
			    </div>
			    <div id="pager">
			    	
			    </div>
		    </div>
		</div>
	</body>
</html>


