<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../iconFont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/xiezuozonghetongji.css"/>
		<script src="../../js/Rem.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="box">
			<div class="head"><a id="head" href="javascript:history.back(-1);" class="back pull-left iconfont icon-zuojiantou"></a><span class="pull-left">战果反馈统计</span></div>
			<form>
			  <fieldset>
			    <legend>统计条件</legend>
			    <div class="unit">
					<label class="text" for="">发起单位:</label>
					<input type="text" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">协作单位:</label>
					<input type="text" name="" id="" value="" />
				</div>
			    <div class="unit">
					<label class="text" for="">开始日期:</label>
					<input type="text" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">结束日期:</label>
					<input type="text" name="" id="" value="" />
				</div>
			  </fieldset>
			    <h1>统计结果</h1>
			    <div class="scroll">
			    	<table class="zonghetongji" border="0" cellspacing="0" cellpadding="0">
				    	<tr><td>发起单位</td><td>发起人姓名</td><td>抓获嫌疑人</td><td>抓获逃犯</td><td>破获案件</td><td>息访宁事</td></tr>
				    	<tr><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
				    	<tr><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
				    	<tr><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
				    	<tr><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
				    	<tr><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
				    	<tr><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
				    </table>
			    </div>
			</form>
		</div>
	</body>
</html>
<script src="../../js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/layer2.1/layer.js"></script>
<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>

