<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../iconFont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../css/faxiezuo.css"/>
		<script src="../js/Rem.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body >
		<div class="box">
			<div class="head"><a id="head" href="javascript:history.back(-1);" class="back pull-left iconfont icon-zuojiantou"></a><span class="pull-left">发协作</span></div>
			<div class="form">
				<h1>请求信息</h1>
				<div class="unit">
					<label class="text" for="">协 作 状 态</label>
					<input disabled="disabled" type="text" class="pull-right" name="" id="" value="待发起" />
				</div>
				<div class="unit">
					<label class="text" for="">发 起 时 间</label>
					<input disabled="disabled" type="text" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">悬赏积分:</label>
					<input disabled="disabled" type="text" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">标签:</label>
					<input disabled="disabled" type="text" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">发起单位:</label>
					<input disabled="disabled" type="text" name="" id="" value="公安部" />
				</div>
				<div class="unit">
					<label class="text" for="">审批单位:</label>
					<input disabled="disabled" type="text" name="" id="" value="情报局" />
				</div>
				<div class="unit">
					<label class="text" for="">协作编号:</label>
					<input disabled="disabled" type="text" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">发起人姓名:</label>
					<input disabled="disabled" type="text" name="" id="" value="某某某" />
				</div>
				<div class="unit">
					<label class="text" for="">发起人固话:</label>
					<input disabled="disabled" type="text" name="" id="" value="010-8387236" />
				</div>
				<div class="unit">
					<label class="text" for="">发起人手机:</label>
					<input disabled="disabled" type="text" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">联系人姓名:</label>
					<input disabled="disabled" type="text" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">联系人练习方式:</label>
					<input disabled="disabled" type="text" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">回退原因:</label>
					<input disabled="disabled" type="text" name="" id="" value="未知" />
				</div>
				<div class="unit">
					<label class="text" for="">协作单位:</label>
					<input disabled="disabled" type="text" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">标题:</label>
					<input disabled="disabled" type="text" name="" id="" value="" />
				</div>
			</div>
			<div class="search-people">
				<h1>查询对象列表</h1>
				<ul class="clearfix sp-nav">
					<li><a href="javascript:;">模板下载</a></li>
					<li><a href="javascript:;">导入</a></li>
					<li><a href="javascript:;">增加</a></li>
					<li><a href="javascript:;">删除</a></li>
				</ul>
				<div class="scroll">
			    	<table class="zonghetongji" border="1" style="border-collapse: collapse;" >
				    	<tr><td>查询对象类别</td><td>查询对象名称</td><td>对象体征</td><td>具体信息</td><td>备注</td><td>增加时间</td></tr>
				    	<tr><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
				    	<tr><td>Data1</td><td>Data1</td><td>Data1</td><td>Data1</td><td>Data1</td><td>Data1</td></tr>
				    	<tr><td>Data2</td><td>Data2</td><td>Data2</td><td>Data2</td><td>Data2</td><td>Data2</td></tr>
				    	<tr><td>Data3</td><td>Data3</td><td>Data3</td><td>Data3</td><td>Data3</td><td>Data3</td></tr>
				    	<tr><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
				    	<tr><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
				    </table>
			    </div>
			    <div class="send-unit1">
				<div class="unit1">
					<label class="text" for="">协作类型:</label>
					<select disabled="disabled" name="">
						<option value=""></option>
					</select>
				</div>
				<div class="unit1">
					<label class="text" for="">反馈时限(小时):</label>
					<select disabled="disabled" name="">
						<option value=""></option>
					</select>
				</div>
				</div>
				<div class="xiezuo-content">
					<h1>协作内容</h1>
					<textarea disabled="disabled" name="" rows="" cols="" placeholder="请输入500字以内,如果超过500字请以附件的形式上传,并在此注明" ></textarea>
				</div>
				<div class="send-unit1">
				<div class="unit1">
					<label class="text" for="">请求事由:</label>
					<select disabled="disabled" name="">
						<option value=""></option>
					</select>
				</div>
				<div class="unit1">
					<label class="text" for="">二级请求事件:</label>
					<select disabled="disabled" name="">
						<option value=""></option>
					</select>
				</div>
				</div>
				<h1>上线附件</h1>
				<div class="fujian"><input class="pull-right" disabled="disabled" type="button" value="上传" /></div>
				<h1>上线审批表</h1>
				<div class="fujian"><input class="pull-right" disabled="disabled" type="button" value="上传" /></div>
				<div class="form">
					<h1>签收</h1>
				<div class="unit">
					<label class="text" for="">签收时间:</label>
					<input type="text" disabled="disabled" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">签收状态:</label>
					<input type="text" disabled="disabled" name="" id="" value="未知" />
				</div>
				<div class="unit">
					<label class="text" for="">签收单位:</label>
					<input type="text" disabled="disabled" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">签收人:</label>
					<input type="text" disabled="disabled" name="" id="" value="" />
				</div>
				<div class="unit">
					<label class="text" for="">签收人IP:</label>
					<input type="text" disabled="disabled" name="" id="" value="" />
				</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="../js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/layer2.1/layer.js"></script>
<script src="../js/base.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	window.onload=function(){
		//rem布局
		document.documentElement.style.fontSize = innerWidth/3.2 +"px";
	    window.addEventListener("resize",function(){
	        document.documentElement.style.fontSize = innerWidth/3.2  + "px";
	    },false)
	}	
</script>
